--------- file content ------- 
# Reproducible data folder: 
data/ 
# pypette reproducible inputs:  
samples/ 
genomes/ 
pypette/ 
jobs/ 
.snakemake/ 
clip/ 
adapters/ 
# files extensions  
*.*DS_Store 
*.bam 
*.fastq.gz 
*.bw 
*.xlsx
# R results – if you have custom R scripts 
*.RData 
*.rds 
.Rhistory
# Other repository to ignore  
logs_slurm/ 
logs/
renv/
